.continar{
    width: 95%;
    margin: auto;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin:  20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black
}

.typeOfMovie {
    
    margin-top: 8%;
    display: flex;
    flex-direction : column;
    justify-content : space-around;
}

.type1, .type2, .type3 {
    width: 100px;
    margin: auto;
    margin-top: 5%;
}
#type1b, #type2b, #type3b {
    width: 100px;
    margin-top: 5%;
    margin: auto;
}


.TopWatch{
    width: 90%;
}

.Action{
    width: 90%;
    display: flex;
    flex-flow :  wrap ;
    justify-content : space-around;
    margin-left: 5%;
    
}

.Comedy{
    width: 90%;
    display: flex;
    flex-flow :  wrap ;
    justify-content : space-around;
    margin-left: 5%;
}

.movieDiv {
    width: 40%;
    margin-left: 20px;
    display: flex;
    justify-content : space-around;
    margin-top: 50px;
    padding: 15px;
    border: 2px solid black;

}

.movieDivCH1, .movieDivCH2{
    width: 48%;
    
}

img{
    height: 300px;
    width: 90%;
}


.moreInfo{
    margin: auto;
    margin-top: 10%;
}


